{% extends 'base.html' %}
{% block title %}
Rebus
{% endblock %}
{% block body %}
<div class="ms-5 mt-5">
<!--        <h2>PowerPoint or HTML</h2>-->
<!--        <form>-->
<!--            <input type="radio" id="html" name="output_type" value="HTML" >-->
<!--            <label for="html" class="form-label">HTML</label><br>-->
<!--            <input type="radio" id="ppt" name="output_type" value="PPT" checked="checked">-->
<!--            <label for="ppt" class="form-label">PowerPoint</label>-->
<!--        </form>-->

        <h2>Puzzle Type</h2>
        <span class="fs-5 me-3">1. One Word Many Puzzles</span><a href="{{url_for('oneWordMany')}}" class="btn btn-info m-1" role="button">HTML</a><a href="{{url_for('oneWordManyPPT')}}" class="btn btn-info m-1" role="button">PPT</a>
        <br>
        <span class="fs-5 me-3">2. Many words -> one puzzle</span><a href="{{url_for('manyWordsOnePuzzle')}}" class="btn btn-info m-1" role="button">HTML</a><a href="{{url_for('manyWordsOnePuzzlePPT')}}" class="btn btn-info m-1" role="button">PPT</a>
        <br>
        <span class="fs-5 me-3">3. Many to many from list</span><a href="{{url_for('oneWordMany')}}" class="btn btn-info m-1" role="button">HTML</a><a href="{{url_for('oneWordManyPPT')}}" class="btn btn-info m-1" role="button">PPT</a>
        <br>
        <span class="fs-5 me-3">4. One Word Many Puzzles</span><a href="{{url_for('oneWordMany')}}" class="btn btn-info m-1" role="button">HTML</a><a href="{{url_for('oneWordManyPPT')}}" class="btn btn-info m-1" role="button">PPT</a>
        <br>
        <span class="fs-5 me-3">5. One from given list</span><a href="{{url_for('oneWordMany')}}" class="btn btn-info m-1" role="button">HTML</a><a href="{{url_for('oneWordManyPPT')}}" class="btn btn-info m-1" role="button">PPT</a>
        <br>
        <span class="fs-5 me-3">6. One with exclusion list</span><a href="{{url_for('oneWordMany')}}" class="btn btn-info m-1" role="button">HTML</a><a href="{{url_for('oneWordManyPPT')}}" class="btn btn-info m-1" role="button">PPT</a>
        <br>
        <a href="#" class="btn btn-secondary m-1" role="button">Help</a>
        <br>
    </div>
<style>
        span {
                width: 300px;
                display: inline-block;
        }
</style>
{% endblock %}