{% extends 'base.html' %}
{% block title %}
Rebus
{% endblock %}
{% block body %}
    <div class="container d-flex aligns-items-center justify-content-center mt-5">
        <div class="">
            <form action="#" method="post" name="many_words_one_form" class="many_words_one_form d-flex flex-column">
                <h3>Many Words One Puzzle</h3>
                <label for="mwop_checkbox" class="mb-2"><input type="checkbox" name="mwop_checkbox" id="mwop_checkbox" value="checked">   Show Answers</label>
                <textarea rows="5" placeholder="Enter words separated by spaces or commas" class="many_words_one_input p-1" name="puzzle_words"></textarea>
                <input type="submit" class="many_words_one_submit p-1 btn-info" value="submit">
            </form>
        </div>
    </div>
{% endblock %}