{% extends 'base.html' %}
{% block title %}
Rebus
{% endblock %}
{% block body %}
    <div class="container d-flex aligns-items-center justify-content-center mt-5">
        <div class="">
            <form action="#" method="post" name="many_words_one_form" class="many_words_one_form d-flex flex-column">
                <h3>Many Words One Puzzle</h3>
                <div>
                    <h6>Image preferences</h6>
                    <label for="default"><input class="img_size_radio me-1" type="radio" name="image_size" id="default" checked value="default">Default</label>
                    <label for="width_driven"><input class="img_size_radio me-1" type="radio" name="image_size" id="width_driven" value="width">Width Driven</label>
                    <label for="height_driven"><input class="img_size_radio me-1" type="radio" name="image_size" id="height_driven" value="height">Height Driven</label>
                    <input type="number" value="1.5" min="1" max="2" width="3" step="0.1" id="size_value" name="size_value">
                    <span>Inches</span>
                </div>
                <label for="mwop_checkbox" class="mb-2"><input type="checkbox" name="mwop_checkbox" id="mwop_checkbox" value="checked">   Show Answers</label>
                <textarea rows="5" placeholder="Enter words separated by spaces or commas" class="many_words_one_input p-1" name="puzzle_words" required="required"></textarea>
                <input type="submit" class="many_words_one_submit p-1 btn-info" value="submit">
            </form>
        </div>
    </div>
{% endblock %}