{% extends 'base.html' %}
{% block title %}
Rebus
{% endblock %}
{% block body %}
    <div class="container d-flex aligns-items-center justify-content-center mt-5">
        <div class="">
            <form action="#" method="post" name="many_words_one_form" class="many_words_one_form d-flex flex-column">
                <h3>Many Words One Puzzle</h3>
                <div>
                    <h6>Image preferences</h6>
                    <label for="default"><input class="img_size_radio me-1" type="radio" name="image_size" id="default" checked>Default</label>
                    <label for="width_driven"><input class="img_size_radio me-1" type="radio" name="image_size" id="width_driven">Width Driven</label>
                    <label for="height_driven"><input class="img_size_radio me-1" type="radio" name="image_size" id="height_driven">Height Driven</label>
                    <input type="number" value="" min="25" max="300" width="3" id="size_value">
                    <span>pixels</span>
                    <input type="button" value="Update" class="update_height_width_btn">
                </div>
                <label style="width: 100%" for="show_answers_checkbox"><input type="checkbox" id="show_answers_checkbox" value="10" min="1" max="50" width="3">  Show answers?</label>
                <textarea style="width:100%" rows="5" placeholder="Enter words separated by spaces or commas" class="many_words_one_input p-1" name="puzzle_words"></textarea>
                <input type="submit" class="many_words_one_submit p-1 btn-info" value="submit">
            </form>
        </div>
    </div>
    {% if load %}
        {% for i in range(all_puzzles.__len__())%}
            <h1 class="container">Puzzle for "{{puzzle_words[i]}}"</h1>
            <div class="container puzzle p-3">
            <div class="d-flex flex-wrap">
            {% for word in all_puzzles[i] %}
                <div class="me-4 mb-4 d-flex flex-column justify-content-end">
                    <div class="card  border-0" style="width: 12rem;">
    <!--                    <img src="static/images/{{word[2]}}" class="card-img-top" alt="...">-->
                        <img src="{{word[2]}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body1 border border-2 border-dark rounded-bottom p-1">
                            <p class="answer_word card-text text-center m-0" style="display: none;">{{word[0]}}</p>
                            <p class="card-text text-center ">{{ word[1] + 1 }} / {{ word[0].__len__() }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        {% endfor %}
    {% endif%}

<style>
    .card-img-top{
        height: 12rem;
        width: 10 rem;
        object-fit: fill;
    }
    .card-body1{
        min-height: 35px !important;
        width: 100px;
        margin: 0 auto;
        background-color: white;
        margin-top: 15px;
    }
</style>
{% endblock %}