{% extends 'base.html' %}
{% block title %}
Rebus
{% endblock %}
{% block body %}
    <div class="container d-flex aligns-items-center justify-content-center mt-5">
        <div class="">
            <form action="#" method="post" class="d-flex flex-column">
                <h3>One Word Many Puzzles</h3>
                <label for="owmp_amount"><input type="number" name="owmp_amount" id="owmp_amount" value="10" min="1" max="50" width="3">  How many puzzles?</label>
                <div class="mt-2">
                    <input type="text" placeholder="Enter one word" class="p-1" name="puzzle_word">
                    <input type="submit" class="p-1 btn-info" value="submit">
                </div>
            </form>
        </div>
    </div>
    {% if load %}
    <h1 class="container">Puzzle for "{{puzzle_word}}"</h1>
        {% for i in range(all_puzzles.__len__())%}
            <div class="container puzzle p-3">
            <h3 class="my-3">Puzzle {{i + 1}}</h3>
            <div class="d-flex flex-wrap">
            {% for word in all_puzzles[i] %}
                <div class="card me-4 mb-4 border-0" style="width: 12rem;">
<!--                    <img src="static/images/{{word[2]}}" class="card-img-top" alt="...">-->
                    <img src="{{word[2]}}" class="card-img-top" alt="...">
                    <div class="card-body border border-2 border-dark rounded-bottom p-1">
                        <p class="card-text text-center m-0">{{word[0]}}</p>
                        <p class="card-text text-center ">{{ word[1] + 1 }} / {{ word[0].__len__() }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        {% endfor %}
    {% endif%}

<style>
    .card-img-top{
        height: 12rem;
        width: 10 rem;
        object-fill: fill;
    }
</style>
{% endblock %}