{% extends 'base.html' %}
{% block title %}
Rebus
{% endblock %}
{% block body %}
    <div class="container d-flex aligns-items-center justify-content-center mt-5">
        <div class="">
            <form action="#" method="post">
                <h3>One Word Many Puzzles</h3>
                <input type="text" placeholder="Enter one word" class="p-1" name="puzzle_word">
                <input type="submit" class="p-1 btn-info" value="submit">
            </form>
        </div>
    </div>
{% endblock %}